<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="a">Sam</div>
    <div class="b">
        <div class="b1">Home</div>
        <div class="b2">About</div>
        <div class="b3">Contact</div>
    </div>
    <div class="c"></div>
    <div class="d">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    </div>
</body>
</html>