.a{background-color: black;
width: 100%;
height: 40px;
text-align: center;
font-size: xx-large;
font-family: bold;
color: white;
}

.b{background-color: white;
width: 100%;
height: 40px;
display: flex;
justify-content: space-evenly;
color: black;
cursor: pointer;}

.b1{width: 20%;}

.b2{width: 20%;}

.b3{width: 20%;}

.c{
width: 100%;
height: 600px;
background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D);
background-repeat: no-repeat;
background-size: 100%;}



.d{background-color: white;
width: 100%;
height: 200px;
display: flex;
justify-content: space-around;}

.d1{width: 30%;
background-color: antiquewhite;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwscH677lnvD1NKRqztmbkRw5rxTc6tdCgyQ&s);
background-size: 200px;}

.d2{width: 30%;
background-color: beige;
background-image: url(https://media.gettyimages.com/id/157472912/photo/ice-cream-composition-on-a-bowl.jpg?s=612x612&w=gi&k=20&c=AniWX1OhaarUxCkgjUoKiA3bKVllK0upCylW6Z0PCMQ=);
background-size: 200px;}

.d3{width: 30%;
background-color: azure;
background-image: url(https://wallpapers.com/images/hd/pretty-profile-pictures-k1qeb);
background-size: 200px;}