
#a{background-color: brown;
width: 500px;
height: 250px;
animation: ani 10s;
transition: 10s;}

#a:hover{background-color: black;}

@keyframes ani{
    from{transform: scale(100%)}
to{transform: scale(50%);}
}