#a{background-color: red;
width: 30%;
height: 400px;
float: left;}

#b{background-color: aquamarine;
width: 30%;
height: 400px;
float: left;}

#c{background-color: black;
width: 30%;
height: 400px;
float: left;