
.a{background-color: red;
width: 100%;
height: 10%;
text-align: center;}

.b{background-color: blue;
width: 100%;
height: 10%;
text-align: center;}

.c{background-color: yellow;
width: 50%;
height: 30%;
float: left;
text-align: center;}

.c1{background-color: red;
width: 100%;
height: 10%;
text-align: center;}

.c2{background-color: blueviolet;
width: 100%;
height: 80%;
text-align: center;}

.d{background-color: gray;
width: 50%;
height: 30%;
float: right;
text-align: center;}

.e{background-color: brown;
width: 100%;
height: 30%;
text-align: center;
display: flex;}

.p{width: 100%;}

